body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    width: 100%;
    text-align: center;
    height: 15%;
    padding-bottom: 200px;
    margin-top: 60px;
}