body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
div{
    padding-top: 10px;
    padding-bottom: 10px;
}
button{
    margin-left: 10px;
    margin-right: 10px;
}
.operation{
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
img{
    position: absolute;
    visibility: hidden;
    align-self: center;
    opacity: 50%;
}